# Default configuration values: https://yamllint.readthedocs.io/en/stable/configuration.html
# Rules reference: https://yamllint.readthedocs.io/en/stable/rules.html
extends: default

ignore:
  - .github

rules:
  line-length:
    max: 100
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  document-start: disable
  comments-indentation: disable
  comments:
    min-spaces-from-content: 1

  # Let .gitattributes manage EOL
  new-lines: disable
