name: Check Paths

on:
  push:
  pull_request:

jobs:
  checkpaths:
    name: Check Paths
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check templates.json
        run: pwsh ci/CheckInvalidTemplatePaths.ps1 templates.json
