name: YAML Lint

on:
  push:
  pull_request:

jobs:
  markdownlint:
    name: YAML Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Lint YAML Files
        uses: ibiqlik/action-yamllint@v3
