name: YAML Lint

on:
  push:
  pull_request:

jobs:
  markdownlint:
    name: YAML Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Lint YAML Files
        uses: ibiqlik/action-yamllint@v3
